<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Blueprints and Views</title>
</head>
<body>
    <h1>Hey {{ content.first_name }}</h1>
    <h2>Welcome to your {{ content.email }} account</h2>
    <h3>Confirm that this is your original number: {{content.phone}}.</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quae necessitatibus
        impedit debitis consequuntur! Voluptatibus molestiae animi delectus commodi sed voluptates suscipit repellat. 
        Quaerat nostrum excepturi reprehenderit magnam labore nesciunt!
        Quaerat nostrum inventore ad dolorum pariatur autem praesentium consequuntur
        eius nihil tenetur rem consequatur accusantium nesciunt iure molestias commodi,
        ipsam id sint aperiam veniam vero illum, asperiores, totam aspernatur! Deleniti.
    </p>
</body>
</html>